<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <!--<th>Description</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %><!-- normally it is the following but its now a link!<%= topic.title %>--></td>
    <!--<td><%= topic.description %></td>-->
    <td><%= pluralize(topic.votes.count, "vote") %></td>
    <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td> <!--#custom-->
    <td><%= button_to '-1', downvote_topic_path(topic), method: :delete %></td> <!--#custom-->
    <!-- <td><%= link_to 'Show', topic %></td>  this one has been replaced by the first Link td -->
    <!-- need to be logged in these shouldnt be available
    
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>-->
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
